html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  padding: 1rem .5rem;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0 1rem;
  font-size: 2rem;
}

h1 span {
  font-size: 1.1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  margin-bottom: -1rem;
  padding-bottom: .2rem;
  display: flex;
}

nav ul li {
  align-items: flex-end;
  display: flex;
  padding: 0 1rem;
}

nav a {
  text-decoration: underline;
  color: #3783a3;
}

.quote {
  font-size: 2rem;
  margin-top: 1rem;
  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1em;
  padding-top: .5rem;
}

main {
  align-items: center;
  margin-bottom: 1rem;
}

li p {
  font-size: 1rem;
}

.btn {
  font-size: 1rem;
  border: .2rem solid #3783a3;
  color: #3783a3;
  padding: .5em 1em .6em;
  margin: auto;
  border-radius: .3rem;
  text-decoration: none;
}

footer {
  padding: 1em;
  grid-area: footer;
}

footer p {
  border-top: .2rem solid #e2e2e2;
  font-size: .8rem;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: -1rem;
}

@media only screen and (min-width: 38em) {

  header {
    align-items: center;
    flex-direction: row;
  }

  .quote {
    padding-left: 8rem;
    padding-right: 1em;
    margin-left: -4rem;
    margin-right: 4rem;
    align-items: center;
    align-content: center;
  }

  h1 {
    align-items: start;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr
  }

  footer {
    margin-top: -1rem;
  }

  @media only screen and (min-width: 60em) {

  .quote{
    padding-right: 10rem;
    padding-right: 10em;
  }

  }
